body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav {
  position: relative;
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
nav a {
  margin-right: 10px;
  padding: 5px;
  color: black;
  font-size: 21px;
  text-decoration: none;
}

nav a:last-child {
  position: absolute;
  right: 10px;
  top: 10px;
}

nav a:hover {
  border-bottom: 2px solid black;
}

.info-block{
  position: relative;
  width: 80%;
  margin-top: 10vh;
}

.info-block h2{
  padding: 5px;
  text-align: center;
}

.info-block p {
  font-size: 19px;
}

.info-block img{
  position: absolute;
  right: 5%;
  top: 250px;
  width: 35%;
  border-radius: 10px;
}

form{
  alignment: right;
}
